

.main-form{
    width: 100%;
    height: fit-content;
}

.registration-form {
    width: 50%;
}
@media only screen and  ( max-width: 576px  ) {
    .registration-form {
        width: 90%;
    }


}@media only screen and (min-width:576px) and (max-width:768px) {
   
    .registration-form {
        width: 70%;
    }
}
@media only screen and (min-width:769px) and (max-width:1350px) {
    .registration-form {
        width: 60%;
    }
}
.upload-btn{
    border: 2px dotted gray;
    display: flex ;
    justify-content: center;
    flex-direction: column;

}