.login-vendor-page{

    width: 100%;
}

.login-vendor-form{
    width: 30%;
    height: fit-content;

}
.login-detail{
    height: fit-content;
    width: 40%;
    
}
.login-vendor-btn{
   
    margin-left: 100px;
}
.forget-btn{
    font-size: 10px;
    width: fit-content;
}
.otp{

    width: fit-content;
    &:hover{
        cursor: pointer;
    }
}
@media only screen and  ( max-width: 576px  ) {
    .login-vendor-page{

        width: 100%;
    }
    
    .login-vendor-form{
        width: 80%;
        height: fit-content;
    
    }
    .login-detail{
        height: fit-content;
        width: 80%;
        
    }
    .login-vendor-btn{
       
        margin-left: 60px;
    }
    .forget-btn{
        font-size: 10px;
        width:fit-content;
    }
    .otp{
        width: fit-content;
        &:hover{
            cursor: pointer;
        }
    }

}@media only screen and (min-width:576px) and (max-width:768px) {
    .login-vendor-page{

        width: 100%;
    }
    
    .login-vendor-form{
        width: 80%;
        height: fit-content;
    
    }
    .login-detail{
        height: fit-content;
        width: 80%;
        
    }
    .login-vendor-btn{
       
        margin-left: 110px;
    }
    .forget-btn{
        font-size: 10px;
        width:fit-content;
    }
    .otp{
        width: fit-content;
        &:hover{
            cursor: pointer;
        }
    }

}
@media only screen and (min-width:769px) and (max-width:1350px) {
    .login-vendor-page{

        width: 100%;
    }
    
    .login-vendor-form{
        width: 40%;
        height: fit-content;
    
    }
    .login-detail{
        height: fit-content;
        width: 50%;
        
    }
    .login-vendor-btn{
       
        margin-left: 80px;
    }
    .forget-btn{
        font-size: 10px;
        width:fit-content;
    }
    .otp{
        width: fit-content;
        &:hover{
            cursor: pointer;
        }
    }

}