.login-page{

    width: 100%;
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-size: cover; /* Scale the image to cover the entire background */
  background-position: center; 
  height: 100vh;
}

.login-form{
    width: 25%;
    height: fit-content;

}
.login-detail{
    height: fit-content;
    width: 40%;
    
}
.login-btn{
   
     margin-left: 65px; 
     width: 70%;

}
.forget-btn{
    font-size: 10px;
}
.google-btn{
    width: 100%;
}
@media only screen and  ( max-width: 576px  ) {
    .login-page{

        width: 100%;
    }
    
    .login-form{
        width: 80%;
        height: fit-content;
    
    }
    .login-detail{
        height: fit-content;
        width: 40%;
        
    }
    .login-btn{
       
         margin-left: 30px; 
    
    }
    .forget-btn{
        font-size: 10px;



}}
@media only screen and (min-width:576px) and (max-width:768px) {
    .login-page{

        width: 100%;
    }
    
    .login-form{
        width:70%;
        height: fit-content;
    
    }
    .login-detail{
        height: fit-content;
        width: 40%;
        
    }
    .login-btn{
       
         margin-left: 65px; 
         width: 70%;
    
    }
    .forget-btn{
        font-size: 10px;
    }
    .google-btn{
        width: 100%;
    }

}
@media only screen and (min-width:769px) and (max-width:1350px) {
    .login-page{

        width: 100%;
    }
    
    .login-form{
        width:50%;
        height: fit-content;
    
    }
    .login-detail{
        height: fit-content;
        width: 40%;
        
    }
    .login-btn{
       
         margin-left: 65px; 
         width: 70%;
    
    }
    .forget-btn{
        font-size: 10px;
    }
    .google-btn{
        width: 100%;
    }

}